Django>=1.10,<5.0; python_version >= '3.4'
Pillow>=2.9.0
apscheduler==3.6.3
django-picklefield
lxml
python-telegram-bot==13.14
six==1.16.0
psycopg2-binary==2.9.3
uwsgi==2.0.19.1
raven==6.10.0
