{% extends "sopds_main.html" %}
{% load i18n %}
{% load staticfiles %}
{% block body %}
<script>
	var BookID = {{ book_id }};
	var delay = 1000;
	var timeout = null;
	
	var waitForLoad = function(){
		if (typeof jQuery != "undefined") {
			LoadBook();
			$(window).bind('scroll',function(){
				clearTimeout(timeout);
				timeout = setTimeout(function(){
					SetPos();
				},delay);
			});
		} else {
			window.setTimeout(waitForLoad, 500);
		}
	};
	window.setTimeout(waitForLoad, 500);  
	
	var ChangeBookDate = function(ID){
		
	}
	
	var SetPos = function(){
		var CurrentPos = window.scrollY;
		$.ajax( {
			url: '{% url 'web:setpos' book_id %}?pos='+CurrentPos,
			type: 'GET',
			cache: false,
			success: function() {
				window.setTimeout(SetPos, 10000);
			}
		});		
	}
	
	var GetPos = function(){
		$.ajax( {
			url: '{% url 'web:getpos' book_id %}',
			type: 'GET',
			cache: false,
			success: function(data) {
				window.scrollTo(0,data);
			}
		});		
	}

	var LoadBook = function(){
		if (localStorage.getItem(BookID)){
			$("#ReaderBlock").html(LZString.decompress(localStorage.getItem(BookID)));
			GetPos();
		} else {
			$.ajax( {
				url: '{% url 'opds_catalog:read' book_id %}',
				type: 'GET',
				cache: true,
				success: function(html) {
					$("#ReaderBlock").html(html);
					
					var StoreDates = {};
					if (localStorage.getItem('StoreDates')) {
						StoreDates = JSON.parse(localStorage.getItem('StoreDates'));
					}
					StoreDates[BookID] = Date();
					
					var CompressedBook = LZString.compress(html);
					
					var StoreBook = function(){
						try {
							localStorage.setItem(BookID,CompressedBook);
							localStorage.setItem('StoreDates',JSON.stringify(StoreDates));
							$('#DownloadBook').hide();
						} catch (err) {
							var Old = Date();
							var OldBookID;
							$.each(StoreDates,function(idx,el){
								if (Old > el) {
									Old = el;
									OldBookID = idx;
								}
							})
							localStorage.removeItem(OldBookID);
							delete StoreDates[OldBookID];
							StoreBook();
						}
					}
					StoreBook();
					
					GetPos();
				}
			});	
		}
	}
</script>
<div id="ReaderBlock"><div id="DownloadBook" style="text-align: center;"><img src="{% static "images/download.gif" %}" style="width: 200px;height: 200px;"></div></div>
{% endblock %}{# body #}