<div class="row expanded callout secondary" style="margin:0">
<div class="large-4 columns">
<h5><a href="{% url "web:searchbooks" %}?searchtype=u">BOOKSHELF</a></h5>
<div class="row small-up-4">
{% for b in bookshelf %}
   <div class="column">
   <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{b.title}}">
    <img class="thumbnail" src="{% url 'opds_catalog:cover' b.book_id %}" type="image/jpeg" alt="{{b.title}}">
   </span></div>
{% endfor %}
</div>
</div>
<div class="large-4 columns">
<h5>NEWS</h5>
<span class="secondary label">Space</span>
<span class="secondary label">Galaxies</span>
<span class="secondary label">Milky Way</span>
<span class="secondary label">Black Holes</span>
<span class="secondary label">Rebels</span>
<span class="secondary label">Death Star</span>
<span class="secondary label">Republic</span>
<span class="secondary label">R2D2</span>
</div>
<div class="large-4 columns">
<h5>RANDOM TEXT</h5>
<p><b>Алексей Миллер:</b> "Пусть 2016 год будет добрым для России, для Группы «Газпром», для каждого из нас. Желаю вам и вашим семьям счастья, благополучия, крепкого здоровья и всего наилучшего!"</p>
</div>
</div>

<div class="row sopdsmenu" style="margin:0">
	<div class="medium-6 columns">
		<ul class="menu">
		<li class="menu-text"><a href="https://github.com/mitshel/sopds"><i class="fi-social-github"></i>GitHub</a></li>
		<li class="menu-text"><a href="#" onclick="window.print()"><i class="fi-social-facebook"></i>Facebook</a></li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<ul class="menu align-right">
		<li class="menu-text"><a href="http://www.sopds.ru/">SOPDS.RU v.{{ sopds_version }}</a></li>
		</ul>
	</div>
</div>
