<div class="top-bar">
    <div class="top-bar-title">
        <span data-responsive-toggle="main-menu" data-hide-for="medium">
          <span class="menu-icon" data-toggle></span>
          <div class="title-bar-title">SOPDS</div>
        </span>
    </div>

    <div class="top-bar-left">
        <ul class="menu">
        <li>
            <a class="show-for-medium" href="#">SIMPLE OPDS CATALOG</a>
        </li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="menu">
            {% if user.username %}
                <li><a href="#">{{ user.username }}</a></li>
            {% else %}
                <li><a href="#">Вход</a></li>
            {% endif %}
        </ul>
    </div>
</div>

