{% load staticfiles %}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ app_title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/sopds.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "foundation-icons/foundation-icons.css" %}">

    <style type="text/css">
        body { background: #e9e9e9 url( {% static "img/hoffman.png" %} );}
    </style>
</head>

<body>
<div class="row"><div class="column large-12" style="background-color: white; padding:0;">
     {% include "sopds_top.html" %}
</div></div>
<div class="row"><div class="column large-12" style="background-color: white; padding:0.5rem;">
     {% include "sopds_logo.html" %}
</div></div>

<div class="row">
<div class="column large-12" style="background-color: white;">

    {% if system_message %}
    <div class="row"><div class="large-12 column">
        {% include "sopds_messages.html" %}
    </div>
    {% endif %}

    {% if not user.is_authenticated %}
    <div class="row"><div class="large-12 column">
        {# {% include "registration/login.html" %} #}
    </div></div>
    {% endif %}

    {% block content %}

    {% endblock %}  {# content #}

</div></div>

</div>
</div>

<div class="row">
<div class="column large-12" style="background-color: white; padding:0">
      {% include "sopds_footer.html" %}
</div>
</div>

  <script src="{% static "js/vendor/jquery.js" %}"></script>
  <script src="{% static "js/vendor/foundation.min.js" %}"></script>

  <script>
    $(document).foundation();
    var elem = new Foundation.OffCanvas($(offCanvas));
  </script>

 {% block block-js %}{% endblock %}
</body>
</html>