<div class="row expanded callout secondary" style="margin:0">
<div class="large-4 columns">
<h5>ПОСЛЕДНИЕ КНИГИ</h5>
<div class="row small-up-4">
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
<div class="column"><img class="thumbnail" src="http://placehold.it/75" alt="image of space dog"></div>
</div>
</div>
<div class="large-4 columns">
<h5>НОВОСТИ</h5>
<span class="secondary label">Space</span>
<span class="secondary label">Galaxies</span>
<span class="secondary label">Milky Way</span>
<span class="secondary label">Black Holes</span>
<span class="secondary label">Rebels</span>
<span class="secondary label">Death Star</span>
<span class="secondary label">Republic</span>
<span class="secondary label">R2D2</span>
</div>
<div class="large-4 columns">
<h5>СЛУЧАЙНАЯ СТАТЬЯ</h5>
<p><b>Алексей Миллер:</b> "Пусть 2016 год будет добрым для России, для Группы «Газпром», для каждого из нас. Желаю вам и вашим семьям счастья, благополучия, крепкого здоровья и всего наилучшего!"</p>
</div>
</div>

<div class="row sopdsbg" style="margin:0">
	<div class="medium-6 columns">
		<ul class="menu">
		<li class="menu-text"><a href="https://github.com/mitshel/sopds"><i class="fi-social-github"></i>GitHub</a></li>
		<li class="menu-text"><a href="#" onclick="window.print()"><i class="fi-social-facebook"></i>Facebook</a></li>
		</ul>
	</div>
	<div class="medium-6 columns">
		<ul class="menu align-right">
		<li class="menu-text"><a href="http://www.sopds.ru/">SOPDS.RU</a></li>
		</ul>
	</div>
</div>
