{% extends "sopds_main.html" %}
{% load static %}
{% load i18n %}

{% block body %}
{% autoescape on %}
<table>
{%  for chars in items %}
<tr>
	<td>
	{% if chars.cnt >= splititems %}
	   <a href="{% url "web:author" %}?lang={{lang_code}}&chars={{chars.id|urlencode|iriencode}}">{{ chars.id }}</a>
	{% else %}
	   <a href="{% url "web:searchauthors" %}?searchtype=b&searchterms={{chars.id|urlencode|iriencode}}">{{ chars.id }}</a>
	{% endif %}
	<span style="font-size:80%">{% blocktrans with chars_cnt=chars.cnt %}Total: {{ chars_cnt }} authors.{% endblocktrans %}</span>
	</td>
</tr>		
{% endfor %}
</table>
{% endautoescape %}


{% endblock %}  {# body #}