{% load staticfiles %}

<div class="top-bar" id="main-menu">
    <div class="top-bar-title">
        <img class="show-for-medium" src="{% static "img/gtnn.png" %}" alt="gtnn logo">
    </div>

    <div class="top-bar-left menu-bottom">
    <ul class="vertical dropdown menu medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
        <li><a href="#">ГЛАВНАЯ</a></li>
        <li><a href="#">КНИГИ</a></li>
        <li><a href="#">НАСТРОЙКИ</a></li>
        <li><a href="#">SOPDS.RU</a></li>
    </ul>
    </div>

</div>