{% load i18n %}

<div class="top-bar">

    <div class="top-bar-title">
        <span data-responsive-toggle="main_menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
       <div class="title-bar-title">
           <div class="show-for-small-only">SOPDS</div>
           <div class="show-for-medium">SIMPLE OPDS CATALOG</div>
      </div>    
    </div>
    
    <div class="top-bar-right">
        {% if sopds_auth %}
        <ul class="menu" style="font-size:90%;">
            {% if user.is_authenticated %}
                <li><a href="{% url "web:logout" %}"><i class="fi-torsos"></i>{% trans "Logout" %} ({{ user.username }})</a></li>
            {% if user.is_superuser %}
            	<li><a href="{% url "admin:index" %}"><i class="fi-widget"></i>{% trans "Settings" %}</a></li>
            {% endif %}	                
            {% else %}
                <li><a href="{% url "web:login" %}"><i class="fi-torsos"></i>{% trans "Login" %}</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>

</div>

