{% extends "sopds_main.html" %}
{% load i18n %}

{% block body %}
<table>
{%  for s in series %}
	<tr><td>
			<a href="{% url "web:searchbooks" %}?searchtype=s&searchterms={{s.id}}"><b>{{ s.ser }}</b></a> <span style="font-size:80%;">{% blocktrans with s_book_count=s.book_count %}Total: {{ s_book_count }} books.{% endblocktrans %}</span>
	</td></tr>		
{% endfor %}
</table>

{% if paginator.num_pages > 1 %}
<ul class="pagination" role="navigation" aria-label="Pagination">
  <li class="pagination-previous {% if not paginator.has_previous %}disabled{%endif%}">
      {% if paginator.has_previous %}<a href="{% url "web:searchseries" %}?searchtype={{searchtype}}&searchterms={{searchterms}}&page={{paginator.previous_page_number}}" aria-label="Previous page"> {%endif%}
         {% trans "Previous page" %}
      {% if paginator.has_previous %}</a>{%endif%}
  </li>
  
  {% for pn in paginator.page_range %}
     {% if paginator.number == pn %}
        <li class="current">{{pn}}</li>
     {% else %}
        <li><a href="{% url "web:searchseries" %}?searchtype={{searchtype}}&searchterms={{searchterms}}&page={{pn}}" aria-label="Page {{pn}}">{{pn}}</a></li>
     {% endif %}   
        {# <li class="ellipsis" aria-hidden="true"></li> #}
  {% endfor %}
  
  <li class="pagination-next" {% if not paginator.has_next %}disabled{%endif%}>
      {% if paginator.has_next %}<a href="{% url "web:searchseries" %}?searchtype={{searchtype}}&searchterms={{searchterms}}&page={{paginator.next_page_number}}" aria-label="Next page">{%endif%}
         {% trans "Next page" %}
      {% if paginator.has_next %}</a>{%endif%}
  </li>
</ul>
{% else %}
<div class="large-12 column"><p></p></div>
{% endif %}

{% endblock %}  {# body #}