<div class="top-bar">
    <div class="top-bar-title">
        <span data-responsive-toggle="main_menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
       <div class="title-bar-title">
           <div class="show-for-small-only">SOPDS</div>
           <div class="show-for-medium">SIMPLE OPDS CATALOG</div>
      </div>    
    </div>
    
    <div style="display: block;">
    <div class="top-bar-left">
    </div>
    <div>

    <div class="top-bar-right">
        <ul class="menu" style="font-size:90%;">
            {% if user.username %}
                <li><a href="#"><i class="fi-torsos"></i>{{ user.username }}</a></li>
            {% else %}
                <li><a href="#"><i class="fi-torsos"></i>Login</a></li>
            {% endif %}
            	<li><a href="#"><i class="fi-widget"></i>Settings</a></li>
        </ul>
    </div>

</div>

