{% extends "sopds_main.html" %}

{% block body %}
{%  for b in books %}
		<div class="large-12 column">
			<b>{{ b.title }}</b>
			<i style="font-size:80%;">Скачать: </i>
			<i><a href="{% url 'opds_catalog:download' b.id 0 %}"><span class="label small">fb2</span></a></i>&nbsp;
			<i><a href="{% url 'opds_catalog:download' b.id 1 %}"><span class="label small">fb2+zip</span></a></i>&nbsp;
		</div>
		
		<div class="large-12 column">	
		    <table><tr>	
		    <td width="100px" style="padding:0rem 0rem;">
			     <img src="{% url 'opds_catalog:cover' b.id %}" type="image/jpeg" width="80px">
			</td>
			<td style="font-size:80%; padding:1rem 1rem;">
				<b>Название книги:</b> {{ b.title }} <br>
				<b>Авторы:</b> <a href="sopds.wsgi?id=228322">Картер Лин, </a><a href="sopds.wsgi?id=2239535">де Камп Лион, </a><br>
				<b>Жанры:</b> <a href="sopds.wsgi?id=24197">Героическая фантастика</a>, <br>
				<b>Серии:</b> <a href="sopds.wsgi?id=263990">Конан. Классическая сага</a> #51, <br>
				<b>Файл:</b> {{ b.filename }} <br>
				<b>Размер файла:</b> {{ b.filesize }}Кб.<br>
				<b>Дата правки:</b> {{ b.docdate }} <br>	
				<b>Дубликаты книги: </b> <a href="sopds.wsgi?id=23192960"> {{ b.title }} (1шт.)</a>
			</td>
			</tr>
			<tr>
			<td colspan="2">
			    <p style="font-size:80%;"> {{ b.annotation }} </p>
			</td>
			</tr></table>
		</div>			
{% endfor %}

<ul class="pagination" role="navigation" aria-label="Pagination">
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
  <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
  <li><a href="#" aria-label="Page 2">2</a></li>
  <li><a href="#" aria-label="Page 3">3</a></li>
  <li><a href="#" aria-label="Page 4">4</a></li>
  <li class="ellipsis" aria-hidden="true"></li>
  <li><a href="#" aria-label="Page 12">12</a></li>
  <li><a href="#" aria-label="Page 13">13</a></li>
  <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>
{% endblock %}  {# body #}