<html>
    <head>
        <title>Поиск</title>
        <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
        <link rel="stylesheet" type="text/css" media="all" href="css/icons.css" />
        <script type="text/javascript" src="js/common.js"></script>
    </head>
<body>

<div class=page>
    <div class=header>
        <div class=menu>
            <a href="/index.html">Home</a><a href=search.html>Поиск</a>
        </div>
    </div>

    <h1>Поиск</h1>

{% set searchTerm = opdsRequest('?searchTerm={searchTerms}') %}
{% for entry in searchTerm.feed.entry %}
    {{ entry.title }}
    <form>
        {% for field in parseSearchLink(entry.link) %}
            <input name={{field.name}} value="{{field.value}}"
            {{ 'type=hidden'   if field.fixed    else '' }}
            {{ 'type=required' if field.required else '' }}
            required
            >
        {% endfor %}
        <button type=submit title="{{ entry.content }}">Искать</button>
    </form>
{% endfor %}


{% if env.opds.query %}
    <div class=searchResults>
        {% set opds  = opdsRequest(env.opds.query) %}
        {% if opds.feed.entry %}
            {%for entry in opds.feed.entry %}
                {% if opds.feed_kind == 'navigation'  %} {% include '_includes/navigation.html'  %} {% endif %}
                {% if opds.feed_kind == 'acquisition' %} {% include '_includes/acquisition.html' %} {% endif %}
            {% endfor %}
            {% include '_includes/nav_links.html' %}
        {% else  %}
            <div class=notFound>Ничего не найдено.</div>
        {% endif %}
    </div>
{% endif %}

{% include '_includes/footer.html' %}

</div>
</body>
</html>
