{% load i18n %}

{% autoescape off %}
{% if obj.cat_name %}
    {{ obj.cat_name }}
{% else %}
    <b>{% trans "Book name:" %} </b>{{ obj.title }}<br/>
    {% if obj.authors %}<b>{% trans "Authors:" %} </b>{% for a in obj.authors %}{{ a.full_name }}; {% endfor %}<br/>{% endif %}
    {% if obj.genres %}<b>{% trans "Genres:" %} </b>{% for g in obj.genres %}{{ g.subsection }}; {% endfor %}<br/>{% endif %}
    {% if obj.series %}<b>{% trans "Series:" %} </b>{% for s in obj.series %}{{s.ser}}; {% endfor %}<br/>{% endif %}
    <b>{% trans "File:" %} </b>{{ obj.filename }}<br/>
    <b>{% trans "File size:" %} </b>{{ obj.filesize }}<br/>
    <b>{% trans "Changes date:" %} </b>{{ obj.docdate }}<br/>
    {% if obj.doubles %}<b>{% trans "Doubles count:" %} </b>{{ obj.doubles }}<br/>{% endif %}    
    <p class="book">{{ obj.annotation }}</p>
{% endif %}
{% endautoescape %}
